

#wrapper {
    min-height: 525px;
    position: relative;
}

#logo {
    height: 115px;
    left: 0;
    position: relative;
    top: 5px;
    width: 303px;
    z-index: 999;
}

input, button, a {
    font-family: Arial,Helvetica,sans-serif;
    outline: medium none;
}

a {
    color: #333333;
    font-weight: 400;
    text-decoration: underline;
}

#header {
    height: 106px;
    margin: 0 auto;
    position: relative;
    width: 880px;
}

#header input.form-text {
    border: 1px solid #999999;
    font-size: 13px;
    margin: 10px 0 10px 10px;
    padding: 3px 3px 5px;
}



#wrapper .form-item {
    margin-bottom: 0;
    margin-top: 0;
}

#search-input-text-container {
  display: inline;
  float: left;
}

#search-input-text {
    color: #8B8E8D;
    height: 19px;
    width: 431px;
}

.search .form-submit
{
	background: no-repeat scroll 96% 50% #FF6600;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    margin: 10px 0 11px 7px;
    padding: 0 15px 4px 0;
    width: 104px;
}

.search {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    float: right;
    height: 50px;
    margin-top: 36px;
    width: 570px;
}

.button-submit-container {
    clear: none;
    display: inline;
    float: left;
}

.button-submit-container input {
    float: right;
    margin: 0 0 0 7px;
}

#header .login {
    width: 245px;
}

.login {
    height: 40px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 352px;
    z-index: 1000;
}

#header .login ul {
    position: relative;
    z-index: 1000;
}
#header .login ul {
    clear: both;
    display: block;
    float: right;
    width: 245px;
     margin: 0;
}
#header .login ul li {
    display: inline;
}
#header .login ul li a.lnk_login {
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}


#wrapper #nav {
    margin-bottom: 3em;
}
#wrapper #nav ul li a {
    text-shadow: 2px 1px 0 #333333;
}

#nav {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #666666;
    clear: both;
    display: block;
    height: 44px;
}

#nav ul {
    margin: 0 auto;
    overflow: visible;
    padding: 0 0 0 80px;
    position: relative;
    width: 880px;
    z-index: 999;
}

#nav li {
    display: inline;
    float: left;
}

#nav ul li {
    display: inline;
    font-size: 1.3em;
    line-height: 44px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
}

#nav ul li a {
    color: #FAF9F3;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    text-decoration: none;
}

#nav .first {
    float: left;
    height: 44px;
    margin-right: 180px !important;
    width: auto;
}

#nav ul li a.active {
    background: none repeat scroll 0 0 #666666;
    text-shadow: 0 0 1px #333333;
}

#home-block ul li p {
    color: #666666;
    font-size: 11px;
    text-align: justify;
}
p {
    font-size: 12px;
    padding: 0 0 1em;
}

#home-block ul li span.title {
    color: #333333;
    font-size: 14px;
}

#main {
    clear: both;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 999;
/*    	float: left; */
/*     padding: 20px 15px; */
/*     width: auto; */
}


#main h1, #main p {
    margin-left: 40px;
    margin-right: 30px;
}

#main p {
    font-size: 14px;
    margin-bottom: 20px;
}

h1 {
    border-bottom: 4px solid #504B4B;
    color: #000000;
    font-size: 200%;
    font-weight: bold;
    margin-top: 0;
    vertical-align: baseline;
}

p {
    margin: 0;
    padding: 2px;
}

.front {
    width: 980px;
}



.editorial {
    height: 180px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.editorial_details {
    float: left;
    padding: 30px 10px 0;
    width: 400px;
}

.editorial_title {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.editorial_text {
    color: black;
    font-size: 13px;
    line-height: 15px;
    padding: 5px 0;
    text-align: justify;
}
.editorial_img {
    float: left;
    padding: 10px 0 0 10px;
}

.homepage_title {
    margin-bottom: 20px;
}

.editorial h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #E47911;
    font-size: 185%;
    font-weight: bold;
    margin: 0;
}


#container_account,
#container_login,
#container_author,
#books
{
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
    width: 430px;
}

#container_author 
{
    width: 690px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #A29D9D #A29D9D;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #A29D9D;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}

#container_account .title, 
#container_login .title,
#container_author .title {
    background-color:  #A29D9D;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 5px 20px;
}

#container_account .content, 
#container_login .content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #A29D9D #A29D9D;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #A29D9D;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-bottom: 30px;
}

#container_author .content {
	display: block;
	min-height: 60px;
    padding: 8px 0;
    position: relative;
    clear: both;
}

#container_author span.result {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    color: #FF6600;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    min-width: 30px;
    padding: 0 3px;
    text-align: right;
    text-shadow: 0 0 0 #FFFFFF;
}

#container_account ul, #container_login ul {
    list-style: none outside none;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
}

#container_account li, #container_login li {
    padding-bottom: 20px;
}

#container_account li span, #container_login li span {
    font-size: 13px;
    font-weight: bold;
}

#center_content_account #container_account
{
	width: 600px;
}

.content table {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 500px;
}

.content td.field {
    font-weight: bold;
}

.content td {
    height: 30px;
    font-size: 14px;
}

input {
    font-size: 0.9em;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-top: 4px;
}

form input[type="text"], form input[type="password"], form input[type="submit"], form textarea {
    border: 1px solid #B9B9B9;
    border-radius: 3px 3px 3px 3px;
}

#container_account input,
#container_login input {
    float: right;
    margin-right: 30px;
    width: 150px;
}

#container_account .form-submit, #container_login .form-submit
{
	background: no-repeat scroll 96% 50% #FF6600;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

#container_account span.error 
{	
	float: right;
    color: red;
    font-size: 12px;
    padding-bottom: 0;
    padding-right: 30px;
    text-align: right;
}

.search_resume {
	float: left;
    background: none repeat scroll 0 0 #FFF7F2;
    border: 1px solid #CCCCCC;
    height: 21px;
    margin: 0 0 1em;
    padding: 8px 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
    width: 670px;
}

.search_resume span {
    font-size: 14px;
    line-height: 21px;
    color: #FF6600;
    margin: 0 0 15px 15px;
}
strong {
    color: #000000;
}


#books {
    padding-bottom: 20px;
    padding-top: 20px;
}

.books {
    border-collapse: collapse;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 760px;
}

.books tr.header {
    border: 0 none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.books tr.header th {
    border-right: 1px solid #515151;
}

.books td.headerline {
    background: none repeat scroll 0 0 #515151;
    border-right: 2px solid #FFFFFF;
    height: 7px;
}

.books tr.odd {
    background-color: #F0F4F5;
}

.books tr.even {
    background-color: #F3FAFC;
}

.books td {
    border-bottom: 1px solid #999999;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px;
}

.books td.isbn,
.books td.title, 
.books td.genre, 
.books td.author {
    border-right: 1px dotted #999999;
}

.books .image {
    background-color: white;
    border-right: 2px solid #999999;
}

.books .isbn {
    text-align: center;
    width: 10%;
}

.books .title {
    width: 50%;
    color: #E47911;
    font-size: 14px;
    text-decoration: none;
}

.books .genre {
    text-align: center;
    width: 10%;
}

.books .author {
    text-align: center;
    width: 10%;
}
.books .rent input {
    background: no-repeat scroll center center transparent;
    border: 0 none;
    height: 50px;
    width: 50px;
}

#container_author ul {    
    clear: none;
    float: right;
    padding: 0;
    width: 100%;
}

#container_author li {
    ;height: auto;
    ;min-height: 50px;
    ;width: 127px;
    display: inline-block;
    float: left;
    height: 180px;
    margin: 0 0 5px 6px;
    min-height: 115px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 135px;
}

.container_search 
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 50px;
    margin-bottom: 18px;
    position: relative;
    width: 688px;
}

.container_search_text
{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.container_search_text span
{
	float: right;
    color: #FF6600;
    font-size: 16px;
    text-align: right;
}

.container_search_form 
{
	float: right;
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    width: 248px;
}

.container_search_form form
{
	position: relative;
}

.container_search input.form-text {
    border: 1px solid #999999;
    color: #8B8E8D;
    display: block;
    height: 16px;
    margin: 0 auto;
    padding: 3px 2px;
    width: 226px;
}

.container_search_form_input_text_1
{
	margin: 5px auto;		
}

.container_search .form-submit
{
    background: none repeat scroll 0 0 #FF6600;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 22px;
    margin: 7px 10px 5px 0;
    padding: 0 0 2px;
    position: relative;
    width: 90px;
}



#footer {
	clear: both;
    display: block;
    margin: 0 auto;
    width: 960px;
    border-top: 4px solid #FF6600;
    float: left;
    margin: 30px 0 0;
    width: 100%;
}

#footer ul.copyright {
    display: inline;
    float: left;
}

#footer ul.footer-menu {
    display: inline;
    float: right;
}

#footer ul li {
    display: inline;
    line-height: 2em;
}

